* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f33f12c5;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    border-radius: 7px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
}

.container h2 {
    margin-bottom: 25px;
}

.container h3 {
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 12px;    
}

.input-group input {
    width: 30rem;
    height: 2rem;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.input-group input:hover,
input:focus {
    border: 1px solid #000;
}

.btn {
    height: 3rem;
    background-color: #5dd352;
    border: transparent;
    border-radius: 7px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

.btn:hover {
    background-color: #4eb145;
}

.container p {
    margin-top: 20px;
}
